/* --------------------------
START TESTIMONIAL SECTION 
----------------------------*/

@import url('/assets/css/root.css');


.testimonial-section {
  max-width: 1200px;
  margin: 4rem auto;
}

.swiper {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.test-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-heading {
  font-size: 2.9rem;
  color: var(--text-heading);
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-title,
.text-muted,
.card-text {
  text-align: center;
  color: var(--text-heading);
}

.lead {
  font-weight: 400;
  color: var(--color-black);
}

.testimonial-card {
  border: none;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  padding: 2rem;
  background-color: var(--bg-default);
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
}

.testimonial-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-text {
  font-size: 1rem;
  color: var(--text-muted);
}

.swiper-button-next,
.swiper-button-prev {
  color: #999;
}

.testimonial-title p {
  font-size: 1.2rem;
  color: var(--color-black);
}

.test-traget {
  position: relative;
  color: var(--color-primary);
}

.test-traget::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color:  var(--color-black);
}

.testimonial-title {
  color: var(--text-dark);
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.swiper-container {
  padding: 20px 0 20px 4px;
}
@media (max-width: 768px) {
  /* .swiper {
    overflow: visible !important; 
    padding: 20px 0 !important; 
  } */

  .testimonial-card {
    width: 85% !important; /* Slightly less than full width */
    max-width: 350px !important;
    margin: 0 auto !important; /* Center horizontally */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
  }

  .swiper-container {
    align-items: center !important;
    padding: 10px 0 10px 0px;
  }

  .test-swiper-slide {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    transform: translate3d(0, 0, 0) !important;
  }

  .testimonial-title {
    width: 90%;
    padding-bottom: 0.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .testimonial-title h3 {
    font-size: 1.6rem;
  }
  .testimonial-title p {
    font-size: 1rem;
  }

  .testimonial-section {
    padding: 0rem !important; /* Reduced padding for mobile */
  }

  .testimonial-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  .test-heading {
    color: var(--text-dark);
  }
}

@media (max-width: 576px) {
  .card-text {
    font-size: 0.85rem;
  }
}
